version: "3.8"
services:

  gispy:
    build:
      context: dockerfiles/.
      dockerfile: gispy.dockerfile
      args:
        BASE_IMAGE: $GISPY_BASE_IMAGE
    image: $GISPY_NEW_IMAGE

  isis:
    build:
      context: dockerfiles/.
      dockerfile: isis.dockerfile
      args:
        BASE_IMAGE: $ISIS_BASE_IMAGE
        ISIS_VERSION: $ISIS_VERSION
    image: $ISIS_NEW_IMAGE
  
  asp:
    build:
      context: dockerfiles/.
      dockerfile: isis-asp.dockerfile
      args:
        BASE_IMAGE: ${ASP_BASE_IMAGE}
        ASP_VERSION: $ASP_VERSION
    image: $ASP_NEW_IMAGE
